@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    @apply rounded-2xl;
    width: 4px;
    background-color: #c7c7c7;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded-full;
    background-color: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-2xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms ease-out;
}
